.city-menu {
  position: relative;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  .wrapper-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    @media screen and (max-width: 1024px) {
      margin: 0;
    }
    .menu-title {
      font-size: 1.3em;
      @media screen and (max-width: 1024px) {
        font-size: 1em;
        font-weight: 500;
      }
    }
    .select-menu {
      .item-menu {
        font-size: 1em;
        margin-top: 0.8rem;
        text-align: end;
        &:hover {
          transform: scale(1.05);
          transition: 0.2s ease-in;
          cursor: pointer;
        }
      }
    }
  }
}
