.allstats-wrapper {
  display: flex;
  border-left: 1px solid #fafafadc;
  margin-left: 2rem;
  .stats-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
    flex-direction: column;
    .stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      .stats-num {
        font-size: 1.5em;
      }
      .stats-txt {
        margin: 0.5rem;
        font-size: 0.9em;
        font-weight: 100;
      }
    }
  }
}
