.weather-wrapper {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  .weather-image {
    width: 150px;
    height: 150px;
  }
  .temperature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .temperature-num {
      font-size: 3em;
    }
    .temperature-txt {
      font-size: 1.3em;
      margin: 0.5rem;
    }
  }
}
