.placedate-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-top: 2rem;

  .place {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
  }
  .date {
    font-weight: 100;
    font-size: 1.2em;
  }
}
